---
    - name: Copy .bashrc file
      copy:
        src: files/bashprompt/.bashrc
        dest: "{{ ansible_env['HOME'] }}/.bashrc"
        owner: "{{ ansible_env['LOGNAME'] }}"
        group: "{{ ansible_env['LOGNAME'] }}"
        mode: '0700'

    - name: Copy .bashrc_dynolabs file
      copy:
        src: files/bashprompt/.bashrc_dynolabs
        dest: "{{ ansible_env['HOME'] }}/.bashrc_dynolabs"
        owner: "{{ ansible_env['LOGNAME'] }}"
        group: "{{ ansible_env['LOGNAME'] }}"
        mode: '0700'

    - name: Creates pip directory
      file:
        path: /home/dallas/.config/pip
        state: directory
        owner: dallas
        group: dallas
        mode: '0777'

    - name: Copy .gitconfig file
      copy:
        src: files/gitconfig/.gitconfig
        dest: "{{ ansible_env['HOME'] }}"
        owner: "{{ ansible_env['LOGNAME'] }}"
        group: "{{ ansible_env['LOGNAME'] }}"
        mode: '0700'

    - name: Copy .tmux.conf file
      copy:
        src: files/tmux/.tmux.conf
        dest: "{{ ansible_env['HOME'] }}/"
        owner: "{{ ansible_env['LOGNAME'] }}"
        group: "{{ ansible_env['LOGNAME'] }}"
        mode: '0700'

    - name: Install exa command line
      become: True
      ansible.builtin.unarchive:
        src: /home/dallas/bin/build-environments/plexenv/files/bashprompt/exa.zip
        dest: /usr/local/bin/
        remote_src: yes

    - name: Copy .vimrc file
      copy:
        src: files/vim/.vimrc
        dest: "{{ ansible_env['HOME'] }}/"
        owner: "{{ ansible_env['LOGNAME'] }}"
        group: "{{ ansible_env['LOGNAME'] }}"
        mode: '0700'

    - name: Copy vim plugin files
      #synchronize:
      copy:
        src: files/vim/.vim/
        dest: "{{ ansible_env['HOME'] }}/.vim/"
        owner: "{{ ansible_env['LOGNAME'] }}"
        group: "{{ ansible_env['LOGNAME'] }}"
        mode: '0775'

    - name: Install Vundle Plugin from git
      git:
        repo: 'https://github.com/VundleVim/Vundle.vim.git'
        dest: ~/.vim/bundle/Vundle.vim

    - name: Install curriculum dev packages
      become: True
      apt:
        name: "{{ packages }}"
        state: latest

    - name: Install Python packages
      become: True
      pip:
        name:
          - flake8
          - black
          - pyautogui

    - name: get host's external IP address
      # See http://www.commandlinefu.com/commands/view/5427/get-your-external-ip-address
      # for alternatives to this command
      command: curl --silent --fail http://ifconfig.me/ip
      register: host_external_ip

    - debug: msg="{{ host_external_ip.stdout }}"
#    - set_fact: external_hostname="{{host_external_ip.stdout}}"
