================================================================================
Ansible manages this server using the {{ motd_server_type }} group and the {{ motd_environment }} environment.
================================================================================
